*{
    font-size: large;
}
.card{
    width : 400px !important;
}
.btn{
    width: 90px !important;
}
.button{
    display: flex;
    justify-content: end;
    padding: 10px 20px 20px 20px;
    gap: 10px;
}
.status-dropDown{
    width: 250px !important;
}
.status{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}